:root {
    --nav-font-family: "Lato", sans-serif;
      }

      html {
        box-sizing: border-box;
        }
      
      
      
      *, :before, :after {
        margin: 0 auto;
        padding: 0;
        box-sizing: inherit;
      }
    


header {
    font-family: var(--nav-font-family);
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.nav-list {
    font-family: var(--nav-font-family);
    font-weight: 100;
    font-size: 10px;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.gallery {
    margin-top: 2em;
    line-height: 0;
    column-count: 3;
    max-width: 400px;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
}