:root {
    --nav-font-family: "Lato", sans-serif;
      }

      html {
        box-sizing: border-box;
        }
      
      
      
      *, :before, :after {
        margin: 0 auto;
        padding: 0;
        box-sizing: inherit;
      }
    
      

header {
    font-family: var(--nav-font-family);
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.nav-list {
    font-family: var(--nav-font-family);
    font-weight: 100;
    font-size: 10px;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-list .nav-item .nav-link-active:hover {
        color:rgb(13, 16, 15);
        cursor: pointer;
}

